@model IEnumerable<blackBox.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="button" class="btn btn-primary" value="New Customer" style="margin-top: 1vw; margin-bottom: 1vw;" onclick="location.href='@Url.Action("CustomerForm","Customer")'">

<h2>Customer List</h2>
@if (!Model.Any())
{
    <p>There is currently no customer base, we need Brand awareness!</p>
}

else
{
    <table class="table table-bordered table-hover">
        <tr style="background-color:antiquewhite">
            <th>Customer</th>
            <th>Discount Rate</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "EditForm", "Customer", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.TitleMembershipType</td>
            </tr>
        }
    </table>
}